.main{
    background-color: red;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo{
        color: white;
    }
    .items{
        .contact{
            // background-color: green;
            display: flex;
            list-style: none;
            gap: 10px;
        }
    }
}